@model Entities.ViewModels.Forum.ForumBaseCreationView;
@{
    ViewData["Title"] = "ForumAddForumBase";
}

<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="ibox-content m-b-sm border-bottom">
                <div class="p-xs">
                    <h2 class="text-center">Создание форума</h2>
                </div>
            </div>

            <div class="ibox-content forum-container">
                <form asp-controller="ForumBaseCreation" asp-action="RedirectToCreateForumBase" method="post">
                    <div class="form-group d-flex flex-column">
                        <select class="form-select" asp-for="@Model.SelectedCategoryId" asp-items="@Model.Categories"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ForumTitle"></label>
                        <input asp-for="@Model.ForumTitle" class="form-control" />
                        <span asp-validation-for="@Model.ForumTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ForumSubtitle"></label>
                        <input asp-for="@Model.ForumSubtitle" class="form-control" />
                        <span asp-validation-for="@Model.ForumSubtitle" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" value="Submit" class="btn-primary mt-2">Создать форум</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
</div>