@model Entities.ViewModels.Forum.ForumTopicViewModel;
@{
    ViewData["Title"] = "ForumTopic";
}
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#text-area-tiny-mce-forum-post-add",
        language: 'ru',
        branding: false,
        height: 250,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
</script>
<script>
    var postViewConfig =
    {
        selector: ".forum-post-body-message-main-content",
        language: 'ru',
        branding: false,
        menubar: false,
        statusbar: false,
        toolbar: false,
        resize: false,
        width: "100%",
        height: "100%",
        min_height: 320,
        autoresize: true,
        readonly: 1,
        plugins:
            [
                'advlist autolink autoresize lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code'
            ],
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px } tox-tinymce { border: 0}'
    };

    tinymce.init(postViewConfig);
</script>
<script>
    function CreatePost(categoryId, forumId, topicId, totalPages) {
        var postText = (((tinyMCE.get("text-area-tiny-mce-forum-post-add").getContent())
            .replace(/(&nbsp;)*/g, ""))
            .replace(/(<p>)*/g, ""))
            .replace(/<(\/)?p[^>]*>/g, "");

        if (jQuery.isEmptyObject(postText)) {
            console.log('Сообщение не может быть пустым.');
            alert('Сообщение не может быть пустым.');
        }
        else {
            $.ajax(
                {
                    type: "POST",
                    data: { categoryId: categoryId, forumId: forumId, topicId: topicId, totalPages: totalPages, postText: postText },
                    url: "@Url.Action("CreateForumPost", "ForumPostCreation")"
                })
                .done(function (r) {
                    window.location.href = r.redirectToUrl + "?c=" + (new Date()).valueOf();
                })
                .fail(function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }

                    console.log("Ошибка при создании сообщения: " + msg);
                    //$('#post').html(msg);
                })
                .always(function () {
                    console.log("CreatePost - complete.");
                });;
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <h2 class="text-center">Сообщений в подтеме: @Model.TotalPosts</h2>
                        <div class="forum-sub-title text-center">Автор: @Model.SubTopicAuthor, подтема создана: @Model.SubTopicCreatedAt</div>
                    </div>
                </div>
                <div class="forum-base-create-panel">
                    @*<button type="button" class="btn btn-light" onclick="location.href='@Url.Action("ForumSubTopics", "Forum", new { forumTopicId = Model.TopicId })'">Вернуться к списку подтем</button>*@
                </div>
            </div>
        </div>
    </div>

    @foreach (var post in Model.Posts)
    {
        <div class="ibox-content rounded">
            <div class="forum-post-main-container">

                <div class="forum-post-header row ">
                    <div class="forum-post-header-sended col pull-left" id="forum-post-header-sended-@post.Id">
                        <p class="date-sended mb-1">Отправлено: @post.CreatedAt</p>
                    </div>
                    <div class="col text-center">
                        @*<button type="button" class="btn btn-light mr-0 ml-1 pull-right" onclick="ForumPostReply(@post.Id, '@post.ForumUser.SimplifiedName', '@post.CreatedAt')" title="Редактировать сообщение">Ответить</button>*@
                    </div>
                </div>

                <div class="row border">
                    <div class="col-md-2 text-left border-end">
                        @Html.ActionLink(@post.ForumUser.FirstAndLastNames, "ForumAccount", "Forum", new { name = @post.ForumUser.FirstAndLastNames }, null)
                        <img class="rounded rounded mx-auto d-block mt-3" src="@Url.Content(@post.ForumUser.AvatarImgSrc)" alt="Empty avatar" />
                        <div class="forum-post-body-account-counter ">
                            <p class="m-0 mt-3">Сообщений:</p>
                            <p>@post.ForumUser.TotalPostCounter</p>
                        </div>
                        <div class="forum-post-body-account-date">
                            <p class="m-0">Дата регистрации:</p>
                            <p>@post.CreatedAt</p>
                        </div>

                        @*@if (post.IsUserHasAccess)
                        {
                            <div class="d-flex justify-content-center mb-16 mr-1">
                                <button type="button" class="btn btn-light mr-0 ml-1" onclick="EnableEditModeForumPost(@post.Id)" title="Редактировать сообщение"><img src="~/images/icons/bootstrap-icons-1.5.0/pencil.svg" width="12" height="12" /></button>
                                <button type="button" class="btn btn-light mr-0 ml-1" onclick="SaveChangesForumPost(@post.Id)" title="Сохранить изменения"><img src="~/images/icons/bootstrap-icons-1.5.0/save.svg" width="12" height="12" /></button>
                                <button type="button" class="btn btn-light mr-1 ml-1" onclick="DeleteForumPost(@post.Id)" title="Удалить сообщение"><img src="~/images/icons/bootstrap-icons-1.5.0/recycle.svg" width="12" height="12" /></button>
                            </div>
                        }*@
                    </div>
                    <div class="col">
                        <div class="forum-post-body-message-main row border-left" id="forum-post-body-message-main">
                            <!--<textarea class="forum-post-body-message-main-content1" id="forum-post-body-message-main-content-@post.Id" name="input"></textarea> -->
                            <div class="forum-post-body-message-main-content-div mt-2 ml-2" id="forum-post-body-message-main-content-div-@post.Id">@Html.Raw(post.PostText)</div>
                        </div>

                        <!--
                        <div class="forum-post-body-message-signature row">

                        </div>
                         -->
                    </div>
                </div>
                <div class="forum-post-footer row">
                    <div class="col text-center">
                    </div>
                </div>
            </div>
        </div>
    }
    @*<div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm justify-content-md-center text-center" id="text-area-tiny-mce-forum-post-container">
                    <form asp-controller="ForumPostCreationController" asp-action="ForumPostCreate" method="post">
                        <div class="form-group">
                            <textarea asp-for="@Model.PostText" id="text-area-tiny-mce-forum-post-add" name="input"> </textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" value="Submit" class="btn-primary mt-2">Создать категорию</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm justify-content-md-center text-center" id="text-area-tiny-mce-forum-post-container">
                    <textarea id="text-area-tiny-mce-forum-post-add" name="input"> </textarea>
                    <button id="post-add-button" type="button" class="btn btn-light mt-2" onclick="return CreatePost(@Context.Request.RouteValues["categoryId"], @Context.Request.RouteValues["forumId"], @Context.Request.RouteValues["topicId"], @Model.TotalPages)">Отправить сообщение</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content ">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        @for (int i = 1; i < @Model.TotalPages + 1; i++)
                        {
                            <button type="button" class="btn btn-light" onclick="location.href='@Url.RouteUrl("TopicPosts", new { categoryId = @Context.Request.RouteValues["categoryId"], forumId = @Context.Request.RouteValues["forumId"], topicId = @Context.Request.RouteValues["topicId"], pageId = i })'">@i</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>