@inject UserManager<AppUser> userManager;
@model Entities.ViewModels.Forum.ForumTopicViewModel;
@{
    ViewData["Title"] = "ForumTopic";
}

<script src="~/lib/tinymce/tinymce.min.js"></script>
<script>
    var uploadedFileCounter = 0;
    function UpdateTextForToolbarAttachmentCounter(counterValue)
    {
        let uploadedFilesCounterToolbarName = 'Файлов к загрузке';
        let deleteFilesToolbarName = 'Удалить вложения';

        var $button = $('span:contains(' + deleteFilesToolbarName + ')').closest('button');

        if (counterValue > 0)
        {
            $button.attr("class", "tox-tbtn tox-tbtn--select");
            $button.attr("aria-disabled", "false");
        }
        else
        {
            $button.attr("class", "tox-tbtn tox-tbtn--select tox-tbtn--disabled");
            $button.attr("aria-disabled", "true");
        }

        let uploadedFilesCounterToolbar = $('span:contains(' + uploadedFilesCounterToolbarName + ')');
        let newTextForCounter = uploadedFilesCounterToolbarName + ': ' + counterValue;
        uploadedFilesCounterToolbar.text(newTextForCounter);
    }
    function IsDuplicate(fileName)
    {
        let isDuplicate = true;
        let inputs = $("#tiny-mce-file-container-attachments").find("input[type=file]");

        if(inputs.length > 0)
        {
            inputs.each(function (index, field)
            {
                let fieldFile = field.value.split("\\").pop();

                if (fieldFile === fileName)
                {
                    return true;
                }

                isDuplicate = false;
            });
        }
        else
        {
            isDuplicate = false;
        }

        return isDuplicate;
    }
    function ValidateImages()
    {
        var maxFileSize = 4194304; // 4MB -> 4 * 1024 * 1024
        var fileUploadInput = $('#tiny-mce-file-input');

        if (fileUploadInput.val() == '')
        {
            alert('Пожалуйста, выберите файл.');
        }
        else
        {
            var file = fileUploadInput[0].files[0];
            var isDuplicate = IsDuplicate($('#tiny-mce-file-input').val().split("\\").pop());

            if (!isDuplicate)
            {
                if (file.size < maxFileSize)
                {
                    var newFileInputName = 'tiny-mce-uploaded-file-' + uploadedFileCounter++;
                    jQuery('<input>',
                        {
                            id: newFileInputName,
                            style: 'visibility:hidden',
                            type: 'file',
                            accept: '*.*',
                            class: 'custom-file-input btn btn-outline-secondary'
                        }).appendTo('#tiny-mce-file-container-attachments');

                    $('#' + newFileInputName).prop("files", fileUploadInput.prop("files"));

                    UpdateTextForToolbarAttachmentCounter(uploadedFileCounter);
                }
                else
                {
                    alert('Файл слишком большой. Выберите файл меньше ' + maxFileSize / 1024 / 1024 + ' мб.');

                    fileUploadInput.val('');
                }
            }
            else
            {
                alert('Такой файл уже загружен. Выберите другой.');
            }
        }

        fileUploadInput.val('');
        $('#tiny-mce-file-input').val('');
        file = null;
    }
</script>
<script>
    tinymce.init({
        selector: "#text-area-tiny-mce-forum-post-add",
        language: 'ru',
        branding: false,
        height: 250,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | file counter dfiles | help',
        setup: function (editor)
        {
            editor.ui.registry.addButton('file', 
            {
                text: 'Добавить вложения',
                onAction: function (_)
                {
                    var fileInput = $('#tiny-mce-file-input');
                    fileInput.click();
                }
            });
            editor.ui.registry.addButton('counter',
                {
                text: 'Файлов к загрузке',
                disabled: true,
                onAction: function (_)
                {}
            });
            editor.ui.registry.addButton('dfiles',
            {
                text: 'Удалить вложения',
                disabled: true,
                onAction: function (_)
                {
                    if (confirm("Удалить все вложения?"))
                    {
                        $('#tiny-mce-file-container-attachments').children().each(function ()
                        {
                            this.remove();
                            uploadedFileCounter--;
                        });

                        UpdateTextForToolbarAttachmentCounter(uploadedFileCounter);
                    }  
                }
            });
        },
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
</script>
<script>
    var postViewConfig =
    {
        selector: ".forum-post-body-message-main-content",
        language: 'ru',
        branding: false,
        menubar: false,
        statusbar: false,
        toolbar: false,
        resize: false,
        width: "100%",
        height: "100%",
        min_height: 320,
        autoresize: true,
        readonly: 1,
        plugins:
            [
                'advlist autolink autoresize lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code'
            ],
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px } tox-tinymce { border: 0}'
    };

    tinymce.init(postViewConfig);
</script>
<script>
    // TODO. Refactoring
    function UploadFilesAndCreatePost(categoryId, forumId, topicId, totalPages)
    {
        var postText = (((tinyMCE.get("text-area-tiny-mce-forum-post-add").getContent())
            .replace(/(&nbsp;)*/g, ""))
            .replace(/(<p>)*/g, ""))
            .replace(/<(\/)?p[^>]*>/g, "");

        if (jQuery.isEmptyObject(postText))
        {
            console.log('Сообщение не может быть пустым.');
            alert('Сообщение не может быть пустым.');
        }
        else
        {
            if (uploadedFileCounter > 0)
            {
                var formData = new FormData();
                $("#tiny-mce-file-container-attachments").find("input[type=file]").each(function (index, field)
                {
                    formData.append("files", field.files[0]);

                    this.remove();
                    uploadedFileCounter--;
                });

                UpdateTextForToolbarAttachmentCounter(uploadedFileCounter);
                
                $.ajax(
                    {
                        type: "POST",
                        data: { categoryId: categoryId, forumId: forumId, topicId: topicId, totalPages: totalPages, postText: postText },
                        url: "@Url.Action("CreateForumPost", "ForumPostCreation")",
                        success: function (res)
                        {
                            formData.append("createdPostId", res.createdPostId);
                        },
                        error: function (err)
                        {
                            console.log('Create post attachments error.');
                        }
                    })
                    .then(function (createdPostRes)
                    {
                        return $.ajax(
                            {
                                type: 'POST',
                                url: '/file/UploadFilesForUser',
                                data: formData,
                                crossDomain: true,
                                processData: false,
                                contentType: false,
                                success: function ()
                                {
                                    window.location.href = createdPostRes.redirectToUrl;
                                },
                                error: function (data)
                                {
                                    console.log('Create post attachments error.');
                                }
                            })
                    })
                    .done(function ()
                    {
                        console.log('Post with attachments -> completed.');
                    })
            }
            else
            {
                $.ajax(
                    {
                        type: "POST",
                        data: { categoryId: categoryId, forumId: forumId, topicId: topicId, totalPages: totalPages, postText: postText },
                        url: "@Url.Action("CreateForumPost", "ForumPostCreation")",
                        success: function (res)
                        {
                            window.location.href = res.redirectToUrl;
                        },
                        error: function (err)
                        {
                            console.log('Create post without attachments error.');
                        }
                    })
            }
        }
    }
    function UploadFiles()
    {
        var formData = new FormData();
        $("#tiny-mce-file-container-attachments").find("input[type=file]").each(function (index, field)
        {
            for (var i = 0; i < field.files.length; i++)
            {
                formData.append("files", field.files[i]);
            }

            this.remove();
            uploadedFileCounter--;
        });

        UpdateTextForToolbarAttachmentCounter(uploadedFileCounter);

        alert(Array.from(formData.keys()).length + ' ' + uploadedFileCounter);

        return $.ajax(
            {
                type: 'POST',
                url: '/file/UploadFilesForUser',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                crossDomain: true,
                success: function (data)
                {
                    console.log(data);
                },
                error: function (data)
                {
                    //alert(data);
                    //console.log(data);
                    alert(data.responseJSON.error);
                }
            })
    }
    function CreatePost(categoryId, forumId, topicId, totalPages)
    {
        var postText = (((tinyMCE.get("text-area-tiny-mce-forum-post-add").getContent())
            .replace(/(&nbsp;)*/g, ""))
            .replace(/(<p>)*/g, ""))
            .replace(/<(\/)?p[^>]*>/g, "");

        if (jQuery.isEmptyObject(postText))
        {
            console.log('Сообщение не может быть пустым.');
            alert('Сообщение не может быть пустым.');
        }
        else
        {
                $.ajax(
                {
                    type: "POST",
                    data: { categoryId: categoryId, forumId: forumId, topicId: topicId, totalPages: totalPages, postText: postText },
                    url: "@Url.Action("CreateForumPost", "ForumPostCreation")",
                    beforeSend: function ()
                    {
                        
                    },
                    success: function(r)
                    {
                        window.location.href = r.redirectToUrl;
                    }
                })
        }
    }
</script>
<script>
    function DeleteForumPost(categoryId, forumId, topicId, postId)
    {
        if (confirm("Вы действительно хотите удалить это сообщение?"))
        {
            if (postId == 0)
            {
                console.log('Сообщение с заданным id не найдено.');
                alert('Сообщение с заданным id не найдено.');
            }
            else
            {
                $.ajax(
                    {
                        type: "POST",
                        data: { categoryId: categoryId, forumId: forumId, topicId: topicId, postId: postId },
                        url: "@Url.Action("DeletePost", "ForumHome")"
                    }).done(function (r)
                    {
                        window.location.href = r.redirectToUrl;
                    });
            }
        }
    }
</script>
<script>
    function EnableEditModeForumPost(postId)
    {
        var postEditConfig =
        {
            selector: "#forum-post-body-message-main-content-div-" + postId,
            language: 'ru',
            branding: false,
            menubar: false,
            statusbar: false,
            resize: false,
            width: "100%",
            height: "100%",
            min_height: 320,
            autoresize: true,
            toolbar_location: 'bottom',
            plugins:
                [
                    'advlist autolink autoresize lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help'
                ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        };

        tinymce.init(postEditConfig);
    }
</script>
<script>
    function SaveChangesForumPost(categoryId, forumId, topicId, postId, pageId)
    {
        var newText = tinymce.get("forum-post-body-message-main-content-div-" + postId).getContent();
        tinymce.remove("#forum-post-body-message-main-content-div-" + postId);

        alert(newText);

        if (postId == 0)
        {
            console.log('Сообщение с заданным id не найдено.');
            alert('Сообщение с заданным id не найдено.');
        }
        else
        {
            $.ajax(
                {
                    type: "POST",
                    data: { categoryId: categoryId, forumId: forumId, topicId: topicId, postId: postId, pageId: pageId, newText: newText },
                    url: "@Url.Action("UpdatePost", "ForumHome")"
                });
        }
    }
</script>
<script>
    function ForumPostReply(postId, userName, msgDate)
    {
        if (postId == 0)
        {
            console.log('Сообщение с заданным id не найдено.');
            alert('Сообщение с заданным id не найдено.');
        }
        else
        {
            var msgData = document.getElementById("forum-post-body-message-main-content-div-" + postId).innerHTML;
            var editor = tinyMCE.get("text-area-tiny-mce-forum-post-add");
            var data = '<blockquote>'
                + '<p> В ответ на сообщение № '
                + postId + ' от ' + userName + ' ' + msgDate + '</p><br>' + '<p>' + msgData + '</p></blockquote><br>';
            var addButton = document.getElementById("post-add-button");

            editor.execCommand("mceInsertContent", true, data);
            addButton.scrollIntoView();
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <h2 class="text-center">Сообщений в теме: @Model.TotalPosts</h2>
                        <div class="forum-sub-title text-center">Автор: @Model.SubTopicAuthor, тема создана: @Model.SubTopicCreatedAt</div>
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <button type="button" class="btn btn-light" onclick="location.href='@Url.RouteUrl("ForumTopics",
                    new { categoryId = @Context.Request.RouteValues["categoryId"],
                    forumId = @Context.Request.RouteValues["forumId"] })'">
                        Вернуться к списку тем
                    </button>
                </div>
            </div>
        </div>
    </div>

    @foreach (var post in Model.Posts)
    {
        <div class="ibox-content rounded">
            <div class="forum-post-main-container">

                <div class="forum-post-header row ">
                    <div class="forum-post-header-sended col pull-left" id="forum-post-header-sended-@post.Id">
                        <p class="date-sended mb-1">Отправлено: @post.CreatedAt</p>
                    </div>
                    <div class="col text-center d-flex flex-row-reverse mt-2">
                        <button type="button" class="btn btn-light "
                                onclick="ForumPostReply(@post.Id, '@post.ForumUser.FirstAndLastNames', '@post.CreatedAt')"
                                title="Ответить">
                            Ответить
                        </button>
                        <button type="button" class="btn btn-light me-1"
                                onclick="location.href='@Url.Action("UpdateForumPostLikes", "ForumHome", new {
                                categoryId = @Context.Request.RouteValues["categoryId"],
                                forumId = @Context.Request.RouteValues["forumId"],
                                topicId = @Context.Request.RouteValues["topicId"],
                                pageId = @Context.Request.RouteValues["pageId"],
                                postId = post.Id })'"
                                title="Поставить лайк">
                            Лайк
                        </button>
                    </div>
                </div>

                <div class="row border">
                    <div class="row">
                        <div class="col-md-2 text-left border-end">
                            <p class="d-flex justify-content-center">
                                @Html.ActionLink(@post.ForumUser.FirstAndLastNames,
                            "ForumAccount", "Account", null)
                            </p>
                            <img class="rounded rounded mx-auto d-block mt-3" src="@Url.Content(@post.ForumUser.AvatarImgSrc)" alt="Empty avatar" />
                            <div>
                                <p class="m-0 mt-3 d-flex justify-content-center">Сообщений:</p>
                                <p class="d-flex justify-content-center">@post.ForumUser.TotalPostCounter</p>
                            </div>
                            <div class="forum-post-body-account-date">
                                <p class="m-0 d-flex justify-content-center">Дата регистрации:</p>
                                <p class="d-flex justify-content-center">@post.CreatedAt</p>
                            </div>

                            @if(post.ForumUser.IsUserHasAccess)
                            {
                                <div class="d-flex justify-content-center mb-4 mr-1">
                                    <button type="button" class="btn btn-light mr-0 ml-1"
                                            onclick="EnableEditModeForumPost(@post.Id)" title="Редактировать сообщение">
                                        <img src="~/images/icons/bootstrap-icons-1.5.0/pencil.svg" width="12" height="12" />
                                    </button>

                                    <button type="button" class="btn btn-light mr-0 ml-1"
                                            onclick="SaveChangesForumPost(@Context.Request.RouteValues["categoryId"],
                                @Context.Request.RouteValues["forumId"],
                                @Context.Request.RouteValues["topicId"],
                                @post.Id, @Context.Request.RouteValues["pageId"])" title="Сохранить изменения">
                                        <img src="~/images/icons/bootstrap-icons-1.5.0/save.svg" width="12" height="12" />
                                    </button>

                                    <button type="button" class="btn btn-light mr-1 ml-1"
                                            onclick="DeleteForumPost(@Context.Request.RouteValues["categoryId"],
                                @Context.Request.RouteValues["forumId"],
                                @Context.Request.RouteValues["topicId"], @post.Id)" title="Удалить сообщение">
                                        <img src="~/images/icons/bootstrap-icons-1.5.0/recycle.svg" width="12" height="12" />
                                    </button>
                                </div>
                            }
                        </div>
                        <div class="col">
                            <div class="forum-post-body-message-main row border-left" id="forum-post-body-message-main">
                                <div class="forum-post-body-message-main-content-div mt-2 ml-2"
                                     id="forum-post-body-message-main-content-div-@post.Id">
                                    @Html.Raw(post.PostText)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="file-row" class="col-md-2 border-end">
                            <link href="../Styles.css" rel="stylesheet" type="text/css" />
                        </div>
                        <div class="col d-flex flex-row-reverse">
                            <button id="post-likes" class="p-2 btn btn-light disabled" data-toggle="tooltip"
                                    data-placement="right" title="Лайки :)">
                                @post.Likes
                            </button>
                        </div>
                    </div>
                    
                </div>

                <div class="forum-post-footer-attachments row border border-top-0">
                    @if (@post.ForumFiles.Count > 0)
                    {
                        <div id="post-attachments" class="text-center text-center">
                            <h6>Вложения:</h6>
                            @foreach (var file in post.ForumFiles)
                            {
                                <a class="link-primary m-2" href="@Url.Content(@file.Path)">@file.Name</a>
                            }
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    }
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm justify-content-md-center text-center" id="text-area-tiny-mce-forum-post-container">
                    <textarea id="text-area-tiny-mce-forum-post-add" name="input"> </textarea>
                    <button id="post-add-button"
                            type="button"
                            class="btn btn-light mt-2"
                            onclick="UploadFilesAndCreatePost(@Context.Request.RouteValues["categoryId"],
                        @Context.Request.RouteValues["forumId"],
                        @Context.Request.RouteValues["topicId"],
                        @Model.TotalPages)">
                        Отправить сообщение
                    </button>
                </div>
            </div>
        </div>
    </div>
    <@* div class="row">
        <input id="tiny-mce-file-input" type="file" style="visibility:hidden" />
    </div> *@
    <div id="tiny-mce-file-container" style="display:none">
        <form asp-action="UploadFilesForUser" asp-controller="File"
                method="post" enctype="multipart/form-data" class="input-group mb-3 justify-content-center">
                <input style="visibility:hidden" type="file" id="tiny-mce-file-input" onchange="ValidateImages();"
                accept="*.*" class="custom-file-input btn btn-outline-secondary" /><br>
                <div id="tiny-mce-file-container-attachments"></div>
                <button id="tiny-mce-file-container-attachments-save" type="submit" value="Submit" class="btn btn-secondary mt-2"></button>
        </form>
        
        @* <input style="visibility:hidden" type="file" id="tiny-mce-file-selected-files"
                accept="*.*" class="custom-file-input btn btn-outline-secondary" /><br> *@
    </div>
    <div class="row mt-3 ">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content ">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        @for (int i = 1; i < @Model.TotalPages + 1; i++)
                        {
                            <button type="button"
                                    class="btn btn-light"
                                    onclick="location.href='@Url.RouteUrl("TopicPosts",
                                new { categoryId =
                                    @Context.Request.RouteValues["categoryId"],
                                    forumId = @Context.Request.RouteValues["forumId"],
                                    topicId = @Context.Request.RouteValues["topicId"],
                                    pageId = i })'">
                                @i
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>