@using Newtonsoft.Json;
@model Entities.ViewModels.Forum.ForumHomeViewModel;
@{
    ViewData["Title"] = "ForumHome";
}
<script>
    function msToTime(s) 
    {
        // Pad to 2 or 3 digits, default is 2
        function pad(n, z) {
            z = z || 2;
            return ('00' + n).slice(-z);
        }

        var ms = s % 1000;
        s = (s - ms) / 1000;
        var secs = s % 60;
        s = (s - secs) / 60;
        var mins = s % 60;
        var hrs = (s - mins) / 60;

        return pad(hrs) + ':' + pad(mins) + ':' + pad(secs) + '.' + pad(ms, 3);
    }
    window.addEventListener('load', (event) => 
    {
        fTime = msToTime((Date.now() - window.performance.timing.navigationStart));
        console.log('All assets are loaded')
        console.log(fTime);
        $("#lbl_loadingTime").text("Время загрузки - " + fTime);
    });
</script>
<link rel="stylesheet" href="~/css/forum-style.css" />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Добро пожаловать на форум ГУ</h2>
                        <label id="lbl_loadingTime">Test</label>
                    </div>
                </div>

                <div class="forum-base-create-panel btn-group-md">
                    <button type="button" class="btn btn-light" 
                    onclick="location.href='@Url.Action("RedirectToCreateCategory", "ForumCategoryCreation")'">Создать категорию</button>

                    <button type="button" class="btn btn-light" 
                    onclick="location.href='@Url.Action("RedirectToCreateForumBase", "ForumBaseCreation", 
                    new { model = JsonConvert.SerializeObject(@Model) })'">Создать форум</button>
                </div>

                <div class="ibox-content">

                    @foreach (var cat in Model.Categories)
                    {
                        <div class="text-end">
                            <h3 class="text-success border-bottom mb-3">@cat.Name</h3>
                            @*<div >
                                <samll>Total posts: @cat.TotalPosts</samll>
                            </div>*@
                        </div>

                        @foreach (var forum in cat.Forums)
                        {
                            <div class="mb-4">
                                <div class="row bg-light text-dark rounded-div">
                                    <div class="col-md-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-shield"></i>
                                        </div>
                                        <a href=@Url.RouteUrl("ForumTopics", new { categoryId = forum.ForumCategoryId, forumId = forum.Id })>@forum.ForumTitle</a>
                                        <div class="forum-sub-title">forum-sub-title: @forum.ForumSubTitle</div>
                                    </div>
                                    <div class="col-md-1">
                                        <span>
                                            @forum.TotalViews
                                        </span>
                                        <div>
                                            <small>Views</small>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <span>
                                            @cat.TotalTopics
                                        </span>
                                        <div>
                                            <small>Topics</small>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <span>
                                            @cat.TotalPosts
                                        </span>
                                        <div>
                                            <small>Posts</small>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        }



                        @*@foreach (var forum in cat.ForumBases)
                    {
                    <div class="forum-item active">
                    <div class="row">
                    <div class="col-md-9">
                    <div class="forum-icon">
                    <i class="fa fa-shield"></i>
                    </div>
                    <a href=@Url.RouteUrl("ForumTopics", new { forumId = forum.Id }) class="forum-item-title">@forum.ForumTitle</a>
                    <div class="forum-sub-title">forum-sub-title: @forum.ForumSubTitle</div>
                    </div>
                    <div class="col-md-1 forum-info">
                    <span class="views-number">
                    1216
                    </span>
                    <div>
                    <small>Views</small>
                    </div>
                    </div>
                    <div class="col-md-1 forum-info">
                    <span class="views-number">
                    @forum.ForumTopics.Count()
                    </span>
                    <div>
                    <small>Topics</small>
                    </div>
                    </div>
                    <div class="col-md-1 forum-info">
                    <span class="views-number">
                    @forum.TotalPosts
                    </span>
                    <div>
                    <small>Posts</small>
                    </div>
                    </div>
                    </div>
                    </div>
                    }*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>