@using Newtonsoft.Json;
@inject UserManager<AppUser> userManager;
@model Entities.ViewModels.Forum.ForumBaseViewModel;
@{
    ViewData["Title"] = "ForumBase";
}
<script>
    function DeleteForumTopic(categoryId, forumId, topicId)
    {
        if (confirm("Вы действительно хотите удалить эту тему?")) 
        {
            if (topicId == 0) 
            {
                console.log('Тема с заданным id не найдена.');
                alert('Тема с заданным id не найдена.');
            }
            else 
            {
                $.ajax(
                    {
                        type: "POST",
                        data: { categoryId: categoryId, forumId: forumId, topicId: topicId },
                        url: "@Url.Action("DeleteTopic", "ForumHome")"
                    }).done(function (r) 
                    {
                        window.location.href = '@Url.Action("ForumTopics", "Forum")';
                    });
            }
        }
    }
</script>
<link rel="stylesheet" href="~/css/forum-style.css" />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom mb-4">
                    <div class="p-xs ">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>@Model.ForumTitle</h2>
                        <span>Test @Context.Request.RouteValues["categoryId"]</span>
                    </div>
                </div>

                <div class="forum-base-create-panel btn-group-md mb-3">
                    <button type="button" class="btn btn-light" 
                    onclick="location.href='@Url.Action("ForumHome")'">Вернуться к списку форумов</button>

                    <button type="button" class="btn btn-light" 
                    onclick="location.href='@Url.RouteUrl("ForumTopicAdd",
                    new {categoryId = @Context.Request.RouteValues["categoryId"], 
                    forumId = @Context.Request.RouteValues["forumId"]})'">Создать топик</button>
                </div>

                <div class="ibox-content container">

                    @foreach (var topic in Model.Topics)
                    {
                        <div class="row ">
                            <div class="mb-3 col-lg-11">
                                <div class="row bg-light text-dark rounded">
                                    <div class="col-md-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-shield"></i>
                                        </div>
                                        <a href=@Url.RouteUrl("TopicPosts",
                                       new { categoryId = @Context.Request.RouteValues["categoryId"],
                                       forumId = topic.ForumBaseId, topicId = topic.Id, pageId = 0 }) class="forum-item-title">@topic.Name</a>
                                        <div class="forum-sub-title">Автор: @topic.Author, @topic.CreatedAt</div>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="font-weight-bold">
                                            @topic.TotalViews
                                        </span>
                                        <div>
                                            <small>Просмотров</small>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="font-weight-bold">
                                            @topic.TotalPosts
                                        </span>
                                        <div>
                                            <small>Ответов</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                @if(@userManager.FindByNameAsync(@User.Identity.Name).Result.Id.Equals(topic.ForumUserId))
                                {
                                    <div class="col-1 mt-1">
                                        <button type="button" class="btn btn-light rounded"
                                                onclick="location.href='@Url.Action("DeleteTopic", "ForumHome",
                                            new { categoryId = @Context.Request.RouteValues["categoryId"],
                                            forumId = @Context.Request.RouteValues["forumId"], topicId = topic.Id})'">
                                            Удалить
                                        </button>
                                    </div>
                                } 
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>