@inject UserManager<AppUser> userManager;
@model Entities.ViewModels.Forum.ForumTopicViewModel;
@{
    ViewData["Title"] = "ForumTopic";
}

<script src="~/lib/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#text-area-tiny-mce-forum-post-add",
        language: 'ru',
        branding: false,
        height: 250,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
</script>
<script>
    var postViewConfig =
    {
        selector: ".forum-post-body-message-main-content",
        language: 'ru',
        branding: false,
        menubar: false,
        statusbar: false,
        toolbar: false,
        resize: false,
        width: "100%",
        height: "100%",
        min_height: 320,
        autoresize: true,
        readonly: 1,
        plugins:
            [
                'advlist autolink autoresize lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code'
            ],
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px } tox-tinymce { border: 0}'
    };

    tinymce.init(postViewConfig);
</script>
<script>
    function CreatePost(categoryId, forumId, topicId, totalPages) {
        var postText = (((tinyMCE.get("text-area-tiny-mce-forum-post-add").getContent())
            .replace(/(&nbsp;)*/g, ""))
            .replace(/(<p>)*/g, ""))
            .replace(/<(\/)?p[^>]*>/g, "");

        if (jQuery.isEmptyObject(postText)) {
            console.log('Сообщение не может быть пустым.');
            alert('Сообщение не может быть пустым.');
        }
        else {
            $.ajax(
                {
                    type: "POST",
                    data: { categoryId: categoryId, forumId: forumId, topicId: topicId, totalPages: totalPages, postText: postText },
                    url: "@Url.Action("CreateForumPost", "ForumPostCreation")"
                })
                .done(function (r) 
                {
                    window.location.href = r.redirectToUrl;
                    //window.location.href = r.redirectToUrl + "?c=" + (new Date()).valueOf();
                })
                .fail(function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }

                    console.log("Ошибка при создании сообщения: " + msg);
                    //$('#post').html(msg);
                })
                .always(function () {
                    console.log("CreatePost - complete.");
                });;
        }
    }
</script>
<script>
    function DeleteForumPost(categoryId, forumId, topicId, postId) 
    {
        if (confirm("Вы действительно хотите удалить это сообщение?")) 
        {
            if (postId == 0) 
            {
                console.log('Сообщение с заданным id не найдено.');
                alert('Сообщение с заданным id не найдено.');
            }
            else 
            {
                $.ajax(
                    {
                        type: "POST",
                        data: { categoryId: categoryId, forumId: forumId, topicId: topicId, postId: postId },
                        url: "@Url.Action("DeletePost", "ForumHome")"
                    }).done(function (r) 
                    {
                        window.location.href = r.redirectToUrl;
                    });
            }
        }
    }
</script>
<script>
    function EnableEditModeForumPost(postId) {
        var postEditConfig =
        {
            selector: "#forum-post-body-message-main-content-div-" + postId,
            language: 'ru',
            branding: false,
            menubar: false,
            statusbar: false,
            resize: false,
            width: "100%",
            height: "100%",
            min_height: 320,
            autoresize: true,
            toolbar_location: 'bottom',
            plugins:
                [
                    'advlist autolink autoresize lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help'
                ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        };

        tinymce.init(postEditConfig);
    }
</script>
<script>
    function SaveChangesForumPost(categoryId, forumId, topicId, postId, pageId) {
        var newText = tinymce.get("forum-post-body-message-main-content-div-" + postId).getContent();
        tinymce.remove("#forum-post-body-message-main-content-div-" + postId);

        alert(newText);

        if (postId == 0) {
            console.log('Сообщение с заданным id не найдено.');
            alert('Сообщение с заданным id не найдено.');
        }
        else {
            $.ajax(
                {
                    type: "POST",
                    data: { categoryId: categoryId, forumId: forumId, topicId: topicId, postId: postId, pageId: pageId, newText: newText },
                    url: "@Url.Action("UpdatePost", "ForumHome")"
                });
        }
    }
</script>
<script>
    function ForumPostReply(postId, userName, msgDate) 
    {
        if (postId == 0) 
        {
            console.log('Сообщение с заданным id не найдено.');
            alert('Сообщение с заданным id не найдено.');
        }
        else 
        {
            var msgData = document.getElementById("forum-post-body-message-main-content-div-" + postId).innerHTML;
            var editor = tinyMCE.get("text-area-tiny-mce-forum-post-add");
            var data = '<blockquote>' 
            + '<p> В ответ на сообщение № ' 
            + postId + ' от ' + userName + ' ' + msgDate + '</p><br>' + '<p>' + msgData + '</p></blockquote><br>';
            var addButton = document.getElementById("post-add-button");

            editor.execCommand("mceInsertContent", true, data);
            addButton.scrollIntoView();
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <h2 class="text-center">Сообщений в теме: @Model.TotalPosts</h2>
                        <div class="forum-sub-title text-center">Автор: @Model.SubTopicAuthor, тема создана: @Model.SubTopicCreatedAt</div>
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <button type="button" class="btn btn-light" onclick="location.href='@Url.RouteUrl("ForumTopics", 
                    new { categoryId = @Context.Request.RouteValues["categoryId"], 
                    forumId = @Context.Request.RouteValues["forumId"] })'">Вернуться к списку тем</button>
                </div>
            </div>
        </div>
    </div>

    @foreach (var post in Model.Posts)
    {
        <div class="ibox-content rounded">
            <div class="forum-post-main-container">

                <div class="forum-post-header row ">
                    <div class="forum-post-header-sended col pull-left" id="forum-post-header-sended-@post.Id">
                        <p class="date-sended mb-1">Отправлено: @post.CreatedAt</p>
                    </div>
                    <div class="col text-center d-flex flex-row-reverse mt-2">
                        <button type="button" class="btn btn-light "
                                onclick="ForumPostReply(@post.Id, '@post.ForumUser.FirstAndLastNames', '@post.CreatedAt')" 
                        title="Ответить">Ответить</button>
                    </div>
                </div>

                <div class="row border">
                    <div class="col-md-2 text-left border-end">
                        <p class="d-flex justify-content-center">@Html.ActionLink(@post.ForumUser.FirstAndLastNames, 
                            "ForumAccount", "Account", null)</p>
                        <img class="rounded rounded mx-auto d-block mt-3" src="@Url.Content(@post.ForumUser.AvatarImgSrc)" alt="Empty avatar" />
                        <div>
                            <p class="m-0 mt-3 d-flex justify-content-center">Сообщений:</p>
                            <p class="d-flex justify-content-center">@post.ForumUser.TotalPostCounter</p>
                        </div>
                        <div class="forum-post-body-account-date">
                            <p class="m-0 d-flex justify-content-center">Дата регистрации:</p>
                            <p class="d-flex justify-content-center">@post.CreatedAt</p>
                        </div>

                        @if (@userManager.FindByNameAsync(@User.Identity.Name).Result.Id.Equals(@post.ForumUserId))
                        {
                            <div class="d-flex justify-content-center mb-4 mr-1">
                                <button type="button" class="btn btn-light mr-0 ml-1"
                                        onclick="EnableEditModeForumPost(@post.Id)" title="Редактировать сообщение">
                                    <img src="~/images/icons/bootstrap-icons-1.5.0/pencil.svg" width="12" height="12" />
                                </button>

                                <button type="button" class="btn btn-light mr-0 ml-1"
                                        onclick="SaveChangesForumPost(@Context.Request.RouteValues["categoryId"],
                                @Context.Request.RouteValues["forumId"],
                                @Context.Request.RouteValues["topicId"],
                                @post.Id, @Context.Request.RouteValues["pageId"])" title="Сохранить изменения">
                                    <img src="~/images/icons/bootstrap-icons-1.5.0/save.svg" width="12" height="12" />
                                </button>

                                <button type="button" class="btn btn-light mr-1 ml-1"
                                        onclick="DeleteForumPost(@Context.Request.RouteValues["categoryId"],
                                @Context.Request.RouteValues["forumId"],
                                @Context.Request.RouteValues["topicId"], @post.Id)" title="Удалить сообщение">
                                    <img src="~/images/icons/bootstrap-icons-1.5.0/recycle.svg" width="12" height="12" />
                                </button>
                            </div>
                        }
                    </div>
                    <div class="col">
                        <div class="forum-post-body-message-main row border-left" id="forum-post-body-message-main">
                            <div 
                                class="forum-post-body-message-main-content-div mt-2 ml-2" 
                                id="forum-post-body-message-main-content-div-@post.Id">@Html.Raw(post.PostText)</div>
                        </div>
                    </div>
                </div>
                <div class="forum-post-footer row">
                    <div class="col text-center">
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm justify-content-md-center text-center" id="text-area-tiny-mce-forum-post-container">
                    <textarea id="text-area-tiny-mce-forum-post-add" name="input"> </textarea>
                    <button 
                        id="post-add-button" 
                        type="button" 
                        class="btn btn-light mt-2" 
                        onclick="return CreatePost(@Context.Request.RouteValues["categoryId"], 
                        @Context.Request.RouteValues["forumId"], 
                        @Context.Request.RouteValues["topicId"], 
                        @Model.TotalPages)">Отправить сообщение</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content ">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        @for (int i = 1; i < @Model.TotalPages + 1; i++)
                        {
                            <button 
                                type="button" 
                                class="btn btn-light" 
                                onclick="location.href='@Url.RouteUrl("TopicPosts", 
                                new { categoryId = 
                                    @Context.Request.RouteValues["categoryId"], 
                                    forumId = @Context.Request.RouteValues["forumId"], 
                                    topicId = @Context.Request.RouteValues["topicId"], 
                                    pageId = i })'">@i</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>