@model ForumUserPageViewModel

@{
    ViewData["Title"] = "ForumUserPage";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm">
                    <div class="p-xs">
                        <h2 class="text-center">Личный кабинет</h2>
                        <img class="rounded rounded mx-auto d-block" src="@Url.Content(@Model.AvatarImgSrc)" alt="Empty avatar" />
                    </div>
                </div>

                <div>
                    <h3 class="text-center">Изменить аватар</h3>
                    <form asp-action="UploadFileForUser" asp-controller="File"
                          method="post" enctype="multipart/form-data" class="input-group mb-3 justify-content-center">
                        <input type="file" name="uploadedFile" accept=".jpg" class="custom-file-input btn btn-outline-secondary" /><br>
                        <input type="submit" value="Загрузить" class="btn btn-outline-secondary" />
                    </form>
                </div>
                
                <div class="ibox-content">
                    <form asp-action="UpdateForumUserPage" asp-controller="ForumHome" asp-route-id="@Context.Request.RouteValues["id"]" method="post">
                        <div class="form-group">
                            <label asp-for="@Model.FirstName"></label>
                            <input asp-for="@Model.FirstName" class="form-control" />
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.LastName"></label>
                            <input asp-for="@Model.LastName" class="form-control" />
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Cabinet"></label>
                            <input asp-for="@Model.Cabinet" class="form-control" />
                            <span asp-validation-for="@Model.Cabinet" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.InternalPhone"></label>
                            <input asp-for="@Model.InternalPhone" class="form-control" />
                            <span asp-validation-for="@Model.InternalPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.BirthDate"></label>
                            <input asp-for="@Model.BirthDate" class="form-control" />
                            <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Division"></label>
                            <input asp-for="@Model.Division" class="form-control" />
                            <span asp-validation-for="@Model.Division" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Company"></label>
                            <input asp-for="@Model.Company" class="form-control" />
                            <span asp-validation-for="@Model.Company" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" value="Submit" class="btn btn-secondary mt-2">Сохранить</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>